# Ignore all images
*.png
*.jpg
*.jpeg
!confusion_matrix*.png

# BUT allow model visuals images
!Offroad_Segmentation_Visuals/
!Offroad_Segmentation_Visuals/**
!Model_Visuals_01/
!Model_Visuals_01/**
!Model_Visuals_02/
!Model_Visuals_02/**
!Model_Visuals_03/
!Model_Visuals_03/**

# Ignore model weights
*.pth
*.pt
*.bin


# Python
__pycache__/
*.pyc